.nav {
    display: flex;
    float: right;
    text-align: center;
    align-items: center;
    height: 3em;
}


.nav-element {
    font-family: "arial", sans-serif;
    font-size: 0.8rem;
    width: 100%;
}

#main-image {
    /*background-color: red;*/
    padding-top: 25%;
    text-align: center;
}




 #blue-button {
    background-color: blue;
    height: 50%;
}

/*#gmail-test {
    background-color: green;
}

#images-test {
    background-color: yellow;
}

#square {
    background-color: purple;
}

*/