.flex-container {
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 10%;
    margin-left: auto;
    background-color: red;
}

.flex-item {
    background-color: green;
}

.blue-button {
    background-color: blue;
}